<div id="mainContainer" style="text-align: center; margin: 50px 50px 50px 50px; font-family: Arial, sans-serif">
    <div id="bodyHead">
        <h1>ADD COMPANY</h1>
    </div>
    <div id="navBar">
        <ul style="list-style-type: none; margin: 0; padding: 0; width: 100%; background-color: lightgrey">
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="dashboardApp.html">Dashboard</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="allJobs.html">All Jobs</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Add Job</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Calendar</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Logout</a></li>
        </ul>
    </div>
    <div id="bodyMid" style="margin: 0px 50px 0px 50px; ">
        <h2>COMPANY X</h2>
        <form id="addCompanyInfo">
            <label for="companyName">Name</label>
            <input style="width: 200px;" type="text" id="companyName">
            <br>
            <label for="companyAdd">Address</label>
            <input style="width: 200px;" type="text" id="companyAdd">
            <br>
            <label for="companyPhone">Phone</label>
            <input style="width: 200px;" type="text" id="companyPhone">
            <br>
            <input type="submit" name="" value="Submit!">
        </form>
    </div>
</div>
