<div>
	<h1>Add Job</h1>
	<form>
		<div class="form-group">
		    <label for="position">Position/Role</label>
		    <input type="text" class="form-control" id="position" name="position">
		</div>
		 <div class="form-group">
	    <label for="company">Company</label>
	    <select class="form-control" id="company" name="company">
	      <option>1</option>
	      <option>2</option>
	    </select>
	  	<div class="form-group">
		    <label for="contact">Contact</label>
		    <input type="text" class="form-control" id="contact" name="contact">
		</div>
		<label for="foundThrough">Job Found Through</label>
	    <select class="form-control" id="foundThrough" name="foundThrough">
	      <option>Indeed</option>
	      <option>Glassdoor</option>
	    </select>
	    <div class="form-group">
		    <label for="jobUrl">Job URL</label>
		    <input type="text" class="form-control" id="jobUrl" name="jobUrl">
		</div>
		<div class="form-group">
		    <label for="notes">Notes</label>
		    <textarea class="form-control" id="notes" rows="6" name="notes"></textarea>
	  	</div>
		<button type="submit" class="btn btn-primary">Add Job</button>
	</form>
</div>