<div id="mainContainer" style="text-align: center; margin: 50px 50px 50px 50px; font-family: Arial, sans-serif">
    <div id="bodyHead">
        <h1>VIEW COMPANY</h1>
    </div>
    <div id="navBar">
        <ul style="list-style-type: none; margin: 0; padding: 0; width: 100%; background-color: lightgrey">
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="dashboardApp.html">Dashboard</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="allJobs.html">All Jobs</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Add Job</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Calendar</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Logout</a></li>
        </ul>
    </div>
    <div id="bodyMid" style="margin: 0px 50px 0px 50;">
        <h2>Company Name</h2>
        <div class="content" style="width: 45%; display: inline-block;">
            <h3 style="width: 45%; display: inline-block; vertical-align: top;">LinkedIn Connections: </h3>
            <table style="width: 45%; display: inline-block; border-collapse: collapse;">
                <tr>
                    <td style="border: 1px solid black;">Connection 1</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Connection 2</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Connection 3</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Connection 4</td>
                </tr>
            </table>
        </div>
        <div class="content" style="width: 45%; display: inline-block;">
            <h3 style="width: 45%; display: inline-block; vertical-align: top;">Jobs Applied To: </h3>
            <table style="width: 45%; display: inline-block; border-collapse: collapse;">
                <tr>
                    <td style="border: 1px solid black;">Job 1</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Job 2</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Job 3</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Job 4</td>
                </tr>
            </table>
        </div>
        <div class="content" style="width: 45%; margin-right: 45%; display: inline-block; margin-top: 5px; align-items: left;">
            <h3 style="width: 45%; display: inline-block; vertical-align: top;">Stats: </h3>
            <table style="width: 45%; display: inline-block; border-collapse: collapse;">
                <tr>
                    <td style="border: 1px solid black;">Stat 1</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Stat 2</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Stat 3</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">Stat 4</td>
                </tr>
            </table>
        </div>
        <div class="content" style="width: 45%; display: inline-block;">
        <h3 style="width: 45%; display: inline-block; vertical-align: top;">Location: </h3>
        <div id="map" style="width: 200px; height: 200px; margin: 2 auto; border: 1px solid black;">Map Goes Here!</div>
        </div>
        <div class="content" style="width: 45%; display: inline-block;">
        <h3 style="width: 45%; display: inline-block; vertical-align: top;">Core Values: </h3>
        <div id="map" style="width: 200px; height: 200px; margin: 2 auto; border: 1px solid black;">Values!</div>
        </div>
    </div>
</div>
