<div ng-controller='userController'>
  <h3>login</h3>
  <form ng-submit='loginUser(userData)'>
    <div ng-if='error.message'><span ng-bind='error.message'></span></div>
    <input type="text" name='email' placeholder="email" ng-model='userData.email'>
    <input type="password" name='password' placeholder="password" ng-model='userData.password'>
    <input type="submit" value="Submit">
    <a href="#!/signup">Signup</a>
  </form>
  Log In with
  <a href="/auth/linkedin">Linkedin</a>
  <a href="/auth/github">Github</a>
</div>
