<div>
  <div style="width: 100%; margin: 50px 50px 50px 50px; font-family: Arial, sans-serif">
    <div style="width: 50%">
      <h3>Register</h3>
      <form ng-submit='UC.register()'>
        <h5 style="margin: 5px 0px 5px 0px;">First Name:</h5>
        <input style="width: 100%; margin-bottom: 5px; padding: 5px;" type="text" name='firstName' placeholder="Enter First Name" ng-model='UC.firstName'>
        <h5 style="margin: 5px 0px 5px 0px;">Last Name:</h5>
        <input style="width: 100%; margin-bottom: 5px; padding: 5px;"type="text" name='lastName' placeholder="Enter Last Name" ng-model='UC.lastName'>

        <h5 style="margin: 5px 0px 5px 0px;">Username:</h5>
        <input style="width: 100%; margin-bottom: 5px; padding: 5px;" type="text" name='userName' placeholder="Enter Username" ng-model='UC.userName'>

        <h5 style="margin: 5px 0px 5px 0px;">Email:</h5>
        <input style="width: 100%; margin-bottom: 5px; padding: 5px;" type="email" name='email' placeholder="Enter Email" ng-model='UC.email'>

        <h5 style="margin: 5px 0px 5px 0px;">Password</h5>
        <input style="width: 100%; margin-bottom: 5px; padding: 5px;" type="password" name='password' placeholder="Create Password" ng-model='UC.password'>

        <h5 style="margin: 5px 0px 5px 0px;">Confirm Password:</h5>
        <input style="width: 100%; margin-bottom: 5px; padding: 5px;" type="password" name='password' placeholder="Confirm Password" ng-model='UC.passwordConfirm'>

        <input style="margin: 15px 0px 5px 0px;" type="submit" value="Submit"><br>
        <!--<a href="../login.html">Login</a>-->
        <h4>Already Registered?  <a href="login.html">Login!</a></h4>
      </form>
    </div>
    <div ng-show="UC.flag"><h3 style="color: red" ng-bind="UC.message"></h3></div>
  </div>
</div>
