<div ng-controller='userController'>
    <div class="profile-top">
        <h1>INFO</h1>
        <div class="profile-left">
            <p>Name: </p>
            <p>Email: </p>
            <p>Password: </p>
        </div>
        <div class="profile-right">
            <img src="" alt="">
        </div>
    </div>
    <div class="profile-bottom">
        <h1>Update Info</h1>
        <div class="profile-left">
            <form action="">
                <label for="Name">Name: </label>
                <input type="text" placeholder=""><br>  

                <label for="Name">Email: </label>
                <input type="text" placeholder=""><br>

                <label for="Name">Password: </label>
                <input type="text" placeholder=""><br>

                <label for="Name">Confirm Password: </label>
                <input type="text" placeholder=""><br>

                <input type="submit" value="Update">
            </form>
        </div>
        <div class="profile-right">
            <img src="" alt="">
        </div>
    </div>
</div>