<div id="mainContainer" style="text-align: center; margin: 50px 50px 50px 50px; font-family: Arial, sans-serif">
    <div id="bodyHead">
        <h1>VIEW CONTACT</h1>
    </div>
    <div id="navBar">
        <ul style="list-style-type: none; margin: 0; padding: 0; width: 100%; background-color: lightgrey">
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="dashboardApp.html">Dashboard</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="allJobs.html">All Jobs</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Add Job</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Calendar</a></li>
            <li style="display: inline; padding: 0px 15px 0px 15px;"><a href="#">Logout</a></li>
        </ul>
    </div>
    <div id="bodyMid" style="margin: 0px 50px 0px 50px; ">
        <!--background-color: lightslategrey-->
        <h2>CONTACT NAME</h2>
        <hr>
        <br>
        
        <div style="width: 100%;">
            <div style="width: 33%; display: inline-block;"><h3>COMPANY NAME</h3><h4>PHONE</h4></div>
            <div style="width: 33%; display: inline-block; vertical-align: top;"><h3>JOBS ASSOCIATED</h3><h4>EMAIL</h4></div>
            <div style="width: 33%; display: inline-block; vertical-align: top;"><h3>RECRUITER: Y/N</h3><h4>ADDRESS</h4></div>
        </div>

        <hr>
        <br>

        <div style="width: 100%">
            <div class="left" style="display: inline-block; text-align: left; vertical-align: top; width: 15%;">
                <h3>NOTES:</h3>
            </div>
            <div class="right" style="display: inline-block; width: 84%;">
                <textarea rows="8" cols="20" style="width: 100%; margin: 15px 0px 0px 0px; resize: none;"></textarea>
            </div>
            <div class="row" style="text-align: right; padding: 10px 0px 0px 0px">
                <input type="submit" name="#" value="Add" style="padding: 10px 15px;">
            </div>

        </div>
    </div>

    <br>
    <hr>
    <br>

    <div id="bodyBot" style="margin: 0px 50px 0px 50px;">
        <!--<h1>temp</h1>-->
        <div class="left" style="display: inline-block; vertical-align: top; width: 49%">
            <div class="top">
                <h3>SCHEDULE A FOLLOW UP:</h3>
                <input type="date" name="#" value="" placeholder="mm-dd-yyyy">
            </div>
            <div class="bot" style="margin: 100px 0px 0px 0px">
                <input type="submit" name="#" value="Schedule" style="padding: 10px 15px;">
            </div>
            
        </div>
        <div class="right" style="display: inline-block; vertical-align: top; width: 50%">
            <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
                <thead>
                    <tr style="height: 30px;">
                        <th style="width: 14.25%;">Sun</th>
                        <th style="width: 14.25%;">Mon</th>
                        <th style="width: 14.25%;">Tues</th>
                        <th style="width: 14.25%;">Weds</th>
                        <th style="width: 14.25%;">Thurs</th>
                        <th style="width: 14.25%;">Fri</th>
                        <th style="width: 14.25%;">Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 80px;">
                        <td style="text-align: left; vertical-align: 100px; width: 14.25%; border: 1px solid black"></td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">01</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">02</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">03</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">04</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">05</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">06</td>
                    </tr>
                    <tr style="height: 80px;">
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">07</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">08</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">09</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">10</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">11</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">12</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">13</td>
                    </tr>
                    <tr style="height: 80px;">
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">14</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">15</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">16</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">17</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">18</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">19</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">20</td>
                    </tr>
                    <tr style="height: 80px;">
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">21</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">22</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">23</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">24</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">25</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">26</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">27</td>
                    </tr>
                    <tr style="height: 80px;">
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">28</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">29</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">30</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black">31</td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black"></td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black"></td>
                        <td style="text-align: left; vertical-align: 0px; width: 14.25%; border: 1px solid black"></td>
                    </tr>
                </tbody>
            </table>
            
        </div>

    </div>


</div>